<div class="col-xs-12 comment-indent">
  <p>{{this.content}}</p>
  {{#each this.replies}}
    <a href="/posts/{{this.author}}/comments/{{this._id}}/replies/new">Reply</a>
    {{> comment}}
  {{/each }}
</div>

