<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/login">
            <fieldset>
                
                
                <p>
                    <div class="form-group">
                        <label for="username">username</label><br>
                        <input id="username" type="text" name="username"/>
                    </div>
                </p>

                
                <p>
                    <div class="form-group">
                        <label for="password">password</label><br>
                        <input id="password" type="password" name="password"/>
                    </div>
                </p>
            </fieldset>
          
            <p>
                <button type="submit" class="btn btn-primary">Login</button>
            </p>
        </form>
    </div>
</div>