<!-- Reply Show -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form action="/posts/{{post._id}}/comments/{{comment._id}}/replies" method="POST">
        <div class="form-group">
          <textarea class='form-control' name="content" placeholder="Reply"></textarea>
        </div>
        <input type="hidden" name="author" value="{{post._id}}">
        <div class="text-right">
            <button type="submit">Reply</button>
        </div>
      </form> 
    </div>
</div>